<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict/>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>https://</string>
            </array>
        </dict>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Cocogoose_Pro_Thin-trial.ttf</string>
        <string>rawer-thin.otf</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIImageName</key>
        <string></string>
    </dict>
</dict>
</plist>
